<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDD9kinSD6JKSCiAQqaDM_VblMWu8dPoRc</string>
	<key>GCM_SENDER_ID</key>
	<string>157355268933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>na.BehindTheBars</string>
	<key>PROJECT_ID</key>
	<string>behindthebars-4b45a</string>
	<key>STORAGE_BUCKET</key>
	<string>behindthebars-4b45a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157355268933:ios:c35249445b2f936f4e7c2c</string>
</dict>
</plist>